senna-project/n8n-flows/SennaWorkflow (2).json
{
  "name": "SennaWorkflow",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f285e590-5b5a-4e44-bf35-9cd939ee037d",
              "leftValue": "={{ $json.valid_map }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1140,
        1760
      ],
      "id": "a8eef821-bd29-4916-9dc4-52411fadc2d9",
      "name": "It's an Mapa"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-mdr",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        1120
      ],
      "id": "9f0f9b5f-5b00-4c3f-9e5f-c217af56ecb1",
      "name": "API MDR | Webhook",
      "webhookId": "143e983f-b618-4cd7-8da2-19266d387666"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c1c6a8a-5cf9-4b7e-bf76-596e64fcb5cb",
              "leftValue": "={{ $('Perfilamento').item.json.perfila }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1360,
        1440
      ],
      "id": "91582ffe-5e7c-4c05-9252-f08fd858e78b",
      "name": "Perfila"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c82013ed-f912-4860-8afa-6ea2401dd562",
              "leftValue": "={{ $json.perfila }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1840,
        1700
      ],
      "id": "f1349da1-2df7-4bc3-a47c-62e130a3c21e",
      "name": "No perfila"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://vanex-api.resuelve.io/v1/bot/webhook/update-stage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mobile_number",
              "value": "=351{{ $('API MDR | Webhook').item.json.body.phone }}"
            },
            {
              "name": "to_stage",
              "value": "No perfila"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        1700
      ],
      "id": "c93eebbf-f423-499e-b600-016cab102b1a",
      "name": "Cambio de etapa | No perfila",
      "onError": "continueRegularOutput",
      "notes": "Si el lead esta en una etapa que no es posible revertir o ya se encuentra en esa etapa, Vanex bloquea el cambio y devuelve un error. Continua en ese caso."
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://vanex-api.resuelve.io/v1/bot/webhook/update-stage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mobile_number",
              "value": "=351{{ $('API MDR | Webhook').item.json.body.phone }}"
            },
            {
              "name": "to_stage",
              "value": "Perfila"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1440
      ],
      "id": "00149c09-3b73-49c4-b42c-dd7d0157894b",
      "name": "Cambio de etapa | Perfila",
      "notesInFlow": false,
      "onError": "continueRegularOutput",
      "notes": "Si el lead esta en una etapa que no es posible revertir o ya se encuentra en esa etapa, Vanex bloquea el cambio y devuelve un error. Continua en ese caso."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": 200,\n  \"reason\": \"OK\",\n  \"details\": \"Valid Map\",\n  \"perfila\": {{ $('Start the Senna Project').item.json.stdout.parseJson().perfila }},\n  \"opportunitex_response\": {{ JSON.stringify($json.record) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2220,
        2120
      ],
      "id": "cd6a8f93-e498-4968-ab05-59db45ad3616",
      "name": "Valid Map"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": 400,\n  \"reason\": \"Bad Request\",\n  \"details\": \"Received MDR is not an Mapa\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1340,
        2120
      ],
      "id": "eed595ca-37a1-49c2-8ffd-080c024a9fe7",
      "name": "Invalid Map"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('API MDR | Webhook').item.binary.mdr.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2320,
        1700
      ],
      "id": "c1cf534f-c60c-4440-a16e-6696c6441d73",
      "name": "Read File again for Saving on Drive"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('API MDR | Webhook').item.binary.mdr.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2300,
        1440
      ],
      "id": "03e75c2a-7106-4003-bf1f-2516de892c77",
      "name": "Read File again for Saving on Drive1"
    },
    {
      "parameters": {
        "command": "=rm \"{{ $('Save in disk the MDR').item.binary.mdr.fileName }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3160,
        1600
      ],
      "id": "cf39cc6f-e844-4d7e-a456-0b956cf3fe70",
      "name": "Remove mdr file from n8n disk"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($('Start the Senna Project').first().json.stdout)\n\n// Validar que data existe y tiene info_institutions\nif (!data || !data.info_institutions || !Array.isArray(data.info_institutions)) {\n  console.log('Error: info_institutions no existe o no es un array');\n  return { error: 'info_institutions no encontrado' };\n}\n\n// Filtrar solo los elementos con perfil_individual: true\nconst perfilIndividualItems = data.info_institutions.filter(item => item.perfil_individual === true);\nconsole.log(perfilIndividualItems)\n\n// Sumar todas las deudas de esos elementos\nconst totalDeuda = perfilIndividualItems.reduce((sum, item) => sum + item.divida, 0);\n\nreturn {\n  total_debt_amount: Math.round(totalDeuda)\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        1440
      ],
      "id": "91559bd8-2b32-4918-a28b-e1854fd43ce3",
      "name": "Calc total debt Amount"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAk4REatc/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=5kGLm-utDx6nw2NaCtnuXdpBBk4cRldQYwfPkXQi-74",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Perfilamiento Senninha: {{ $('It\\'s an Mapa').item.json.stdout.parseJson().perfila }}\nEnlace Vanex: https://vanex.io/priorities/search?q={{ $('API MDR | Webhook').item.json.body.phone }}\nEnlace Mapa: {{ $('Save Perfila | MDR | File').item.json.webViewLink }}\nDeuda total: €{{ $('Calc total debt Amount').item.json.total_debt_amount }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        1440
      ],
      "id": "e1f0c549-96c9-48e0-b8aa-89fd296268a6",
      "name": "Notify to GChat"
    },
    {
      "parameters": {
        "content": "## Valida si el .pdf enviado es un mapa o no",
        "height": 1060,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        1260
      ],
      "id": "b38c13a8-afa9-4719-9207-00aafe54078a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Vanex Activities",
        "height": 640,
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        1240
      ],
      "id": "57b01499-fb97-4319-bac1-760f8c6500a7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://opportunitex.resuelve.io/api/v2/records",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2120
      ],
      "id": "ba7d4214-620d-4378-b295-1cf3c52421bd",
      "name": "Opportunitex"
    },
    {
      "parameters": {
        "content": "## Opportunitex",
        "height": 340,
        "width": 700,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1740,
        2020
      ],
      "id": "0b8d2262-8fc1-46af-b658-0ef0a9d5d412",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vanex-api.resuelve.io/v1/bot/webhook/reassignment-source",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_name",
              "value": "bot_senninha"
            },
            {
              "name": "mobile_number",
              "value": "=351{{ $('API MDR | Webhook').item.json.body.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1440
      ],
      "id": "9aa9501e-42d0-47ec-a6a8-f0cb1aa647a7",
      "name": "Reasignación"
    },
    {
      "parameters": {
        "jsCode": "// Acceder a los datos del webhook.\n// Asegúrate de que el nombre del nodo 'API MDR | Webhook' sea exacto,\n// incluyendo mayúsculas, minúsculas y espacios.\nconst webhookBody = $('API MDR | Webhook').item.json.body;\n\n// Construir el objeto JSON deseado\nconst outputData = {\n  \"record\": {\n    \"data\": {\n      \"system_id\": webhookBody.system_id,\n      \"user\": { // <-- Se agregó la llave de apertura que faltaba\n        \"names\": webhookBody.fname,\n        \"first_surname\": \"\",\n        \"second_surname\": \"\",\n        \"email\": webhookBody.email,\n        \"phone\": webhookBody.phone,\n        \"mobile\": webhookBody.phone, // Asumiendo que mobile es el mismo que phone\n        \"country\": webhookBody.country,\n        \"contact_by_wa\": true,\n        \"terms_conditions\": true\n      },\n      \"debts\": [\n        {\n          \"debt_amount\": \"40000\" // Si necesitas que sea un número, quita las comillas: 40000\n        }\n      ],\n      \"mkt\": {\n        \"landing\": webhookBody.landing\n      }\n    }\n  }\n};\n\n// El nodo de Code en n8n espera que retornes un array de items.\n// Cada item debe tener una propiedad 'json'.\nreturn [{ json: outputData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        2120
      ],
      "id": "febf0c94-76f3-4b6c-9bd1-8e3c87663dba",
      "name": "Opportunitex JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "20c256e2-5c75-4be2-ab72-bf62e777dd8d",
              "leftValue": "={{ $json.valid_map }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1140,
        2120
      ],
      "id": "20fbce34-d0b7-4c7e-9a49-8273c54f186d",
      "name": "It's not an mapa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://senna_project:5001/perfilamento",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "mdr",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        1120
      ],
      "id": "0356325c-bcbd-4661-a426-22efb247b381",
      "name": "Perfilamento"
    },
    {
      "parameters": {
        "jsCode": "// Mapeamento normalizado das instituições\nconst mapping = {\n  \"bancocomercialportugues\": \"Banco Comercial Português\",\n  \"orthogon\": \"Orthogon\",\n  \"revolut\": \"Revolut Bank\",\n  \"volkswagen\": \"Volkswagen Bank GMBH\",\n  \"raize\": \"Raize\",\n  \"sfs\": \"SFS - Financial Services\",\n  \"monese\": \"Monese\",\n  \"cofidis\": \"Cofidis\",\n  \"unicre\": \"Unicre\",\n  \"novoatlantico\": \"Novo Atlântico\",\n  \"atlanticoeuropa\": \"Banco Atlantico Europa\",\n  \"big\": \"Banco de Investimento Global\",\n  \"best\": \"Banco Best\",\n  \"ctt\": \"Banco CTT\",\n  \"credibom\": \"Credibom\",\n  \"activobank\": \"ActivoBank\",\n  \"bancomontepio\": \"Banco Montepio\",\n  \"bankinter\": \"Bankinter\",\n  \"bnpparibas\": \"BNP Paribas\",\n  \"bni\": \"BNI Europa\",\n  \"bps\": \"Banco Português de Gestão\",\n  \"bic\": \"Banco BIC\",\n  \"bbva\": \"BBVA\",\n  \"bnp\": \"BNP Paribas\",\n  \"bnpcreditopessoal\": \"BNP Crédito Pessoal\",\n  \"cgd\": \"Caixa Geral de Depósitos\",\n  \"cetelem\": \"Cetelem\",\n  \"cmc\": \"CMC Markets\",\n  \"créditoagricola\": \"Crédito Agrícola\",\n  \"deutschebank\": \"Deutsche Bank\",\n  \"ebankit\": \"ebankIT\",\n  \"eurobic\": \"EuroBic\",\n  \"eurobank\": \"Eurobank\",\n  \"finibanco\": \"Finibanco\",\n  \"finantia\": \"Banco Finantia\",\n  \"grupoageas\": \"Grupo Ageas\",\n  \"grupoocidental\": \"Grupo Ocidental\",\n  \"ing\": \"ING\",\n  \"jpmorgan\": \"JP Morgan\",\n  \"kuanto\": \"KuantoKusta\",\n  \"lendon\": \"Lendon.pt\",\n  \"millennium\": \"Millennium BCP\",\n  \"moneybox\": \"MoneyBox\",\n  \"bpisa\": \"Banco BPI\",\n  \"monzo\": \"Monzo\",\n  \"morganstanley\": \"Morgan Stanley\",\n  \"mymoney\": \"MyMoney\",\n  \"n26\": \"N26\",\n  \"nb\": \"NOVO BANCO\",\n  \"novobanco\": \"NOVO BANCO\",\n  \"oportocredito\": \"Oporto Crédito\",\n  \"opcredit\": \"OP Credit\",\n  \"paypal\": \"PayPal\",\n  \"pepper\": \"Pepper\",\n  \"payshop\": \"Payshop\",\n  \"plataformafinanceira\": \"Plataforma Financeira\",\n  \"pluribank\": \"Pluribank\",\n  \"popular\": \"Banco Popular\",\n  \"prestamer\": \"Prestamer\",\n  \"raiffeisen\": \"Raiffeisen Bank\",\n  \"santander\": \"Banco Santander Totta\",\n  \"seculo\": \"Banco Século\",\n  \"simplic\": \"Simplic\",\n  \"sofi\": \"Sofi\",\n  \"solidario\": \"Banco Solidário\",\n  \"sofisa\": \"Banco Sofisa\",\n  \"transferwise\": \"Wise (ex TransferWise)\",\n  \"unicredit\": \"Unicredit\",\n  \"viabuy\": \"Viabuy\",\n  \"wizink\": \"Wizink Bank\",\n  \"abanca\": \"Abanca\",\n  \"openbank\": \"Openbank\",\n  \"banif\": \"Banif\",\n  \"barclays\": \"Barclays\",\n  \"bancoinvest\": \"Banco Invest\",\n  \"bestbank\": \"Best Bank\",\n  \"bmce\": \"BMCE Bank\",\n  \"bancomillennium\": \"Banco Millennium\",\n  \"bancomontepiogeral\": \"Banco Montepio Geral\",\n  \"bancomontepiocrédito\": \"Banco Montepio Crédito\",\n  \"bancomontepiocomercial\": \"Banco Montepio Comercial\",\n  \"novobanco2\": \"NOVO BANCO\",\n  \"novobancocrédito\": \"NOVO BANCO Crédito\",\n  \"banconacional\": \"Banco Nacional Ultramarino\",\n  \"banconif\": \"Banco NIF\",\n  \"bancomontepiopoupança\": \"Banco Montepio Poupança\"\n};\n\nconst unidecode = (str) => str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\nreturn items.map(item => {\n  const registros = item.json.info_institutions || [];\n  const output = [];\n\n  for (const reg of registros) {\n    const original = reg.instituicao || \"\";\n    const clean = unidecode(original.toLowerCase().replace(/[^a-z0-9]/g, \"\")); // remove tudo que não é letra/número\n\n    let nomePadrao = original;\n\n    for (const chave in mapping) {\n      if (clean.includes(chave)) {\n        nomePadrao = mapping[chave];\n        break;\n      }\n    }\n\n    output.push({\n      ...reg,\n      instituicao_formatada: nomePadrao\n    });\n  }\n\n  return {\n    json: {\n      ...item.json,\n      info_institutions: output\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        1120
      ],
      "id": "90da601d-87c7-41d6-9f81-492acd390706",
      "name": "Standard_instituiciones"
    },
    {
      "parameters": {
        "content": "Padroniza las informaciones como en vanex",
        "height": 1080,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        620
      ],
      "id": "fed8128a-a81b-430b-9bb5-662d000f6b29",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Senna 🔥",
        "height": 540,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        900
      ],
      "id": "8e9a8732-6f97-4eff-b296-5d650f9b62e0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const mapProdutos = {\n  \"creditorenovavellinhadecredito\": \"Empréstimo bancário\",\n  \"cartaodecreditosemperiododefreefloat\": \"Cartão de crédito\",\n  \"creditoautomovelexcluindolocacoesfinanceiras\": \"Empréstimo bancário\",\n  \"creditopessoal\": \"Empréstimo bancário\",\n  \"cartaodecreditocomperiododefreefloat\": \"Cartão de crédito\",\n  \"ultrapassagensdecredito\": \"Cartão de crédito\",\n  \"cartaodecredito\": \"Cartão de crédito\",\n  \"locacaofinanceiramobiliaria\": \"Empréstimo bancário\",\n  \"creditoconexo\": \"Empréstimo bancário\",\n  \"outroscreditos\": \"Empréstimo bancário\",\n  \"cartaodecreditocartaodedebitodiferido\": \"Cartão de crédito\",\n  \"creditonaorenovavel\": \"Empréstimo bancário\",\n  \"creditorenovavelcontacorrentebancaria\": \"Empréstimo bancário\",\n  \"facilidadesdedescoberto\": \"Empréstimo bancário\",\n  \"financiamentoaatividadeempresarial\": \"Empréstimo bancário\",\n  \"locacaofinanceiraimobiliaria\": \"Empréstimo bancário\",\n  \"outrosavalesegarantiasbancariasprestadas\": \"Empréstimo bancário\",\n  \"descontoeoutroscreditostituladosporefeitos\": \"Empréstimo bancário\",\n  \"factoring\": \"Empréstimo bancário\",\n  \"creditoahabitacao\": \"Empréstimo bancário\"\n};\n\nconst unidecode = (str) => str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n\nconst formatarProduto = (raw) => {\n  if (!raw) return raw;\n  const normalizado = unidecode(raw.toLowerCase().replace(/[\\s\\-]/g, \"\"));\n  return mapProdutos[normalizado] || raw;\n};\n\nreturn items.map(item => {\n  const dado = item.json;\n\n  // Se tiver múltiplas instituições:\n  if (Array.isArray(dado.info_institutions)) {\n    dado.info_institutions = dado.info_institutions.map(inst => {\n      inst.produto_formatado = formatarProduto(inst.prodfinanceiro);\n      return inst;\n    });\n  }\n\n  return { json: dado };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        1120
      ],
      "id": "a9c705e2-1c64-4ae8-9f93-5b1e0f79dbf5",
      "name": "standard_credit_type"
    },
    {
      "parameters": {
        "content": "valida si el mapa esta actualizado\n",
        "height": 1080,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        620
      ],
      "id": "57371fa8-5707-4f35-a337-7d2158a8bf13",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const meses = {\n  \"janeiro\": 1, \"fevereiro\": 2, \"marco\": 3, \"abril\": 4, \"maio\": 5, \"junho\": 6,\n  \"julho\": 7, \"agosto\": 8, \"setembro\": 9, \"outubro\": 10, \"novembro\": 11, \"dezembro\": 12\n};\n\nconst now = new Date();\nconst currentMonth = now.getMonth() + 1;\nconst currentYear = now.getFullYear();\n\nreturn items.map(item => {\n  const mesmapaStr = (item.json.mesmapa || \"\").toLowerCase().replace(\"de\", \"\");\n  let caducado = true;\n\n  for (const [mesNome, mesNumero] of Object.entries(meses)) {\n    if (mesmapaStr.includes(mesNome)) {\n      const ano = parseInt(mesmapaStr.replace(/\\D/g, '').slice(-4));\n      if (!isNaN(ano)) {\n        const diffMeses = (currentYear - ano) * 12 + (currentMonth - mesNumero);\n        caducado = diffMeses > 2;  // ⬅️ Mapa com mais de 2 meses está \"caducado\"\n      }\n      break;\n    }\n  }\n\n  return {\n    json: {\n      ...item.json,\n      caducado\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        1120
      ],
      "id": "ab03f003-1ef0-43ae-b82f-ddf11e893615",
      "name": "Validar_Mapa_Caducado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "655f627f-24c0-47af-b5f1-3de729d7d4a1",
              "leftValue": "={{ $json.caducado }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        1120
      ],
      "id": "e7f51213-4d82-49a0-8113-bcbbeafb5c59",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"motivo\": \"Mapa caducado\",\n  \"status\": \"rejeitado\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        720
      ],
      "id": "f4c243a1-8723-49d6-b0e7-8d13a5d083f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "Whatsapp message para solicitar el mapa actualizado",
        "height": 80,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        720
      ],
      "id": "da872fad-845c-450d-bb0d-2f069f2072e7",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "It's an Mapa": {
      "main": [
        [
          {
            "node": "Perfila",
            "type": "main",
            "index": 0
          },
          {
            "node": "No perfila",
            "type": "main",
            "index": 0
          },
          {
            "node": "Opportunitex JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API MDR | Webhook": {
      "main": [
        [
          {
            "node": "Perfilamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perfila": {
      "main": [
        [
          {
            "node": "Cambio de etapa | Perfila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No perfila": {
      "main": [
        [
          {
            "node": "Cambio de etapa | No perfila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambio de etapa | No perfila": {
      "main": [
        [
          {
            "node": "Read File again for Saving on Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cambio de etapa | Perfila": {
      "main": [
        [
          {
            "node": "Reasignación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File again for Saving on Drive": {
      "main": [
        [
          {
            "node": "Remove mdr file from n8n disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File again for Saving on Drive1": {
      "main": [
        [
          {
            "node": "Calc total debt Amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc total debt Amount": {
      "main": [
        [
          {
            "node": "Notify to GChat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify to GChat": {
      "main": [
        [
          {
            "node": "Remove mdr file from n8n disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opportunitex": {
      "main": [
        [
          {
            "node": "Valid Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reasignación": {
      "main": [
        [
          {
            "node": "Read File again for Saving on Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opportunitex JSON": {
      "main": [
        [
          {
            "node": "Opportunitex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "It's not an mapa": {
      "main": [
        [
          {
            "node": "Invalid Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perfilamento": {
      "main": [
        [
          {
            "node": "Standard_instituiciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard_instituiciones": {
      "main": [
        [
          {
            "node": "standard_credit_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "standard_credit_type": {
      "main": [
        [
          {
            "node": "Validar_Mapa_Caducado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar_Mapa_Caducado": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "It's not an mapa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "It's an Mapa",
            "type": "main",
            "index": 0
          },
          {
            "node": "It's not an mapa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Map": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c11603d0-7c73-43a4-8043-c8050c068dd7",
  "meta": {
    "instanceId": "c1ae0e1e65b452a0c96f850686134144d6ce592858e9eee514e8ab82074e5b72"
  },
  "id": "68evG31xCn4GyAsP",
  "tags": []
}